.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-bottom-color: var(--darker-border-color);
  border-bottom-style: solid;
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
  align-items: center;
}

.row:hover {
  background-color: var(--light-color);
  cursor: pointer;
}

.rowHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  border-bottom-color: var(--darker-border-color);
  border-bottom-style: solid;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.pagination__page {
  margin-left: var(--spacing-l);
  margin-right: var(--spacing-l);
}
